<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Binar C7</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        .mwd {
            max-width: 400px;
        }
        .cswd {
            width: 50px;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Binar C7</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <% if (session.isAdmin === true) { %>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user/create">Create</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/user/viewHistory">User History</a>
                    </li>
                    <% } else { %>
                    <% } %>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% if (session.userId) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/user"><%= session.username %> <%= (session.isAdmin === true ?'(admin)' : '') %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api/user/logout">Logout</a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <% if (typeof message !=='undefined' ) { %>
    <div class="alert <%= message['type'] === 'success' ? 'alert-success' : 'alert-danger' %> alert-dismissible"
        role="alert">
        <div>
            <%= message['message'] %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <% } %>
