<%- include('./partials/header') %>
<div class="container mt-5 text-center mwd">
    <main class="form-signin">
        <form method="post" action="/api/user/login">
            <img class="mb-4" src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="text" class="form-control" name="username" id="floatingInput" placeholder="username">
                <label for="floatingInput">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </main>
</div>

<%- include('./partials/footer') %>