<%- include('../partials/header') %>
<div class="container mt-5">

    <% if (typeof error !=='undefined' ) {%>
        <div class="alert alert-danger">
            <%= error.errors[0].message %>
        </div>
    <% } %>

    <form method="POST" id="createProfileForm" action="/api/user/create">
        <div>
            <label for="username">Username</label>
            <input 
                type="text" 
                name="username" 
                placeholder="Input Username"
                class="form-control">

            <label for="name">Password</label>
            <input 
                type="password" 
                name="password" 
                placeholder="Input Password"
                class="form-control">

            
        </div>

        <button type="submit" class="btn btn-info">Create</button>
    </form>

</div>



<%- include('../partials/footer') %>