<%- include('../partials/header') %>
    <div class="container mt-5">

        
                <form method="POST" id="createProfileForm" action="/api/user/edit">
                    <input type="hidden" disabled name="id" value="<%= user.id %>">
                    <div>
                        <label for="username">Username</label>
                        <input 
                            type="text" 
                            name="username" 
                            placeholder="Input username" 
                            class="form-control"
                            value="<%= user.username %>">
                    </div>

                    <button type="submit" class="btn btn-info">Save</button>
                    <a href="/user" class="btn btn-warning">Cancel</a>
                </form>

    </div>



<%- include('../partials/footer') %>