<%- include('../partials/header') %>

<div class="container mt-5">
    <% if (session.isAdmin === true) { %>
    <div>
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Create Date</th>
                <th>Last Update</th>
                <th>Action</th>
            </tr>
            <% user.forEach(u=> { %>
            <tr>
                <td><%= u.id %></td>
                <td><%= u.username %></td>
                <td><%= u.createdAt %></td>
                <td><%= u.updatedAt %></td>
                <td>
                    <a href="/user/viewBiodata/<%= u.id %>" class="btn btn-warning">
                        <i class="fa fa-solid fa-eye" aria-hidden="true"></i>
                    </a>
                    <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="fa fa-solid fa-trash" aria-hidden="true"></i>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account?</h1>
                            <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                            </div>
                            <div class="modal-body">
                            Are you sure? this user will be deleted
                            </div>
                            <div class="modal-footer">
                            <a type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</a>
                            <a type="button" class="btn btn-danger" href="./api/user/deleteUser/<%= u.id %>">
                                Delete
                            </a>
                            </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <% }) %>
        </table>
    </div>
    <% } else { %>
        <div class="container mt-5">
            <div>
                <table class="table table-hover table-striped">
                    <% user.forEach(u => { %>

                    <h1>Hi <%= u.username%> Welcome to Binar C7</h1>

                    <tr>
                        <td>ID</td>
                        <td><%= u.id %></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><%= u.username %></td>
                    </tr>
                    <tr>
                        <td>Create Date</td>
                        <td><%= u.createdAt %></td>
                    </tr>
                    <tr>
                        <td>Last Updated</td>
                        <td><%= u.updatedAt %></td>
                    </tr>
                    <tr>
                        <td>
                            Action
                        </td>
                        <td>
                            <a href="./user/biodata" class="btn btn-primary">
                            <i class="fa fa-solid fa-user" aria-hidden="true"></i>
                            </a>
                            <a href="./user/edit" class="btn btn-dark">
                            <i class="fa fa-solid fa-pencil" aria-hidden="true"></i>
                            </a>

                            <!-- Delete -->
                            <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                <i class="fa fa-solid fa-trash" aria-hidden="true"></i>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Account?</h1>
                                    <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                                    </div>
                                    <div class="modal-body">
                                    Are you sure? you will lose all your data
                                    </div>
                                    <div class="modal-footer">
                                    <a type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</a>
                                    <a type="button" class="btn btn-danger" href="./api/user/delete">
                                        Delete
                                    </a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <% }) %>
                </table>
            </div>
                <div>
                    <table class="table table-hover table-striped">
                        
    
                        <h3>Game history</h3>
    
                        <tr>
                            <th>ID</th>
                            <th>Room ID</th>
                            <th>Date</th>
                            <th>Result</th>
                        </tr>
                        <% user.forEach(u => { %>
                            <% u.Histories.forEach(h => { %>
                        <tr>
                            <td><%= h.id %></td>
                            <td><%= h.roomId %></td>
                            <td><%= h.createdAt %></td>
                            <td>
                                <span class="badge <%= h.result == 'Lose' ? 'bg-danger cswd' : 'bg-success cswd' %>"><%= h.result %></span>
                            </td>
                            
                        </tr>
                        <% }) %>
                        <% }) %>
                    </table>
                </div>
<% } %>
</div>



<%- include('../partials/footer') %>