<%- include('../../partials/header') %>

<div class="container mt-5">
    <div>
    <table class="table table-hover table-striped">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Username</th>
            <th>Room ID</th>
            <th>User ID</th>
            <th>Result</th>
        </tr>
        <% history.forEach(h=> { %>
        <tr>
            <td><%= h.id %></td>
            <td><%= h.createdAt %></td>
            <td><%= h.User.username %></td>
            <td><%= h.roomId %></td>
            <td><%= h.userId  %></td>
            <td>
                <span class="badge <%= h.result == 'Lose' ? 'bg-danger cswd' : 'bg-success cswd' %>"><%= h.result %></span>
            </td>
        </tr>
        <% }) %>
    </table>
    </div>
</div>

<%- include('../../partials/footer') %>