<%- include('../../partials/header') %>

<div class="container mt-5">
    <div>
        <table class="table table-hover table-striped">
            <% if (session.isAdmin === true ) { %>
                
            <% } else { %>
            <tr>
                <td>
                    <a href="./biodata/create" class="btn btn-success">
                        <i class="fa fa-solid fa-plus" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
            <% } %>
            
            <% biodata.forEach(b => { %>
            <tr>
                <% if (session.isAdmin === true ) { %>
                <% } else { %>
                <td>
                    <a href="./biodata/edit" class="btn btn-primary">
                    <i class="fa fa-solid fa-file-pen" aria-hidden="true"></i>
                    </a>
                </td>
                <% } %>
            </tr>
            <tr>
                <td>User ID</td>
                <td><%= b.userId %></td>
            </tr>
            <tr>
                <td>First Name</td>
                <td><%= b.firstName %></td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td><%= b.lastName %></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><%= b.Email %></td>
            </tr>
            <tr>
                <td>Last Updated</td>
                <td><%= b.updatedAt %></td>
            </tr>
            <% }) %>
        </table>
    </div>
    
</div>


<%- include('../../partials/footer') %>