<%- include('../../partials/header') %>
    <div class="container mt-5">

        
                <form method="POST" id="createProfileForm" action="/api/user/biodata/create">
                    <input type="hidden" name="id" value="<%= session.userId %>">
                    <input type="hidden" name="userId" value="<%= session.userId %>">
                    <div>
                        <label for="firstName">First Name</label>
                        <input 
                            type="text" 
                            name="firstName" 
                            placeholder="Input Your First Name" 
                            class="form-control">

                        <label for="lastName">Last Name</label>
                        <input 
                            type="text" 
                            name="lastName" 
                            placeholder="Input Your Last Name" 
                            class="form-control">

                        <label for="Email">Email</label>
                        <input 
                            type="email" 
                            name="Email" 
                            placeholder="Input Your Email" 
                            class="form-control">
                    </div>

                    <button type="submit" class="btn btn-info">Create</button>
                    <a href="/user/biodata" class="btn btn-warning">Cancel</a>
                </form>

    </div>



<%- include('../../partials/footer') %>