<%- include('../../partials/header') %>
    <div class="container mt-5">


                <form method="POST" id="createProfileForm" action="/api/user/biodata/edit">
                    <input type="hidden" disabled name="id" value="<%= session.userId %>">
                    <input type="hidden" name="userId" value="<%= session.userId %>">
                    <div>
                        <label for="firstName">First Name</label>
                        <input 
                            type="text" 
                            name="firstName" 
                            placeholder="First Name" 
                            class="form-control"
                            value="<%= biodata.firstName %>">

                        <label for="lastName">Last Name</label>
                        <input 
                            type="text" 
                            name="lastName" 
                            placeholder="Last Name" 
                            class="form-control"
                            value="<%= biodata.lastName %>">

                        <label for="Email">Email</label>
                        <input 
                            type="email" 
                            name="Email" 
                            placeholder="Email" 
                            class="form-control"
                            value="<%= biodata.Email %>">
                    </div>
                    <button type="submit" class="btn btn-info">Save</button>
                    <a href="/user/biodata" class="btn btn-warning">Cancel</a>
                </form>

    </div>



<%- include('../../partials/footer') %>